<div class="panel panel-default col-md-9">
    <div class="panel-heading">欢迎光临聊天室</div>
    <div class="panel-body">
        <div class="list-group"  style="height:300px;overflow-y: auto" >
            <div class="list-group-item" ng-repeat="message in messages">
                匿名：{{message}}</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <form action="">
            <div class="form-group">
                <textarea class="form-control" ng-model="newMessage" ctrl-enter-break-line="createMessage()"></textarea>
            </div>
        </form>
    </div>
</div>